gunicorn
umap-learn
visdom
dash==0.28.5
dash-auth==1.2.0
dash-core-components==0.35.0
dash-html-components==0.13.2
dash-renderer==0.14.3
decorator==4.3.0
librosa>=0.8.0
matplotlib>=3.3.0
numpy==1.19.3; platform_system == "Windows"
numpy==1.19.4; platform_system != "Windows"
scipy>=1.0.0
tqdm
sounddevice
#SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
webrtcvad; platform_system != "Windows"
